<?xml version="1.0"?>
<config>
    <modules>
        <Tlm_Transactionalemailvc>
            <version>0.1.0</version>
        </Tlm_Transactionalemailvc>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <system_email_template_edit_form>Tlm_Transactionalemailvc_Block_System_Email_Template_Edit_Form</system_email_template_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <tlm_transactionalemailvc>
                <class>Tlm_Transactionalemailvc_Model</class>
                <resourceModel>tlm_transactionalemailvc_mysql4</resourceModel>
            </tlm_transactionalemailvc>
            <tlm_transactionalemailvc_mysql4>
                <class>Tlm_Transactionalemailvc_Model_Mysql4</class>
                <entities>
                    <revisions>
                        <table>TransactionalEmailVersionControl</table>
                    </revisions>
                </entities>
            </tlm_transactionalemailvc_mysql4>
        </models>
        <resources>
            <tlm_transactionalemailvc_setup>
                <setup>
                    <module>Tlm_Transactionalemailvc</module>
                </setup>
            </tlm_transactionalemailvc_setup>
            <tlm_transactionalemailvc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tlm_transactionalemailvc_write>
            <tlm_transactionalemailvc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tlm_transactionalemailvc_read>
        </resources>
        <helpers>
            <tlm_transactionalemailvc>
                <class>Tlm_Transactionalemailvc_Helper</class>
            </tlm_transactionalemailvc>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tlm_Transactionalemailvc before="Mage_Adminhtml">Tlm_Transactionalemailvc_Adminhtml</Tlm_Transactionalemailvc>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
